* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .top-header-left p, .top-header-center p{
    position: relative;
}
.top-header-left p::after, .top-header-center p::after {
    content: "";
    position: absolute;
    right: 0px;   
    top: 0;
    height: 100%;
    border-right: 1px solid #ddd;
} */
.top-header-left p,
.language {
    position: relative;
}
.top-header-left p::after,
.language::after {
    content: "";
    position: absolute;
    right: 0; /* text এর ডান পাশে */
    top: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}
.top-header-right {
    display: flex;
    justify-content: end;
}
.icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
.language {
    padding: 0 20px;
}
.language span{
    margin: 0 10px;
}
.login.text-end {
    padding-left: 20px;
}

/* ------- HEADER MAIN ------ */
.header-cart a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin-right: 16px;
}
.header-cart span {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    padding: 0 5px;
    top: -6px;
    right: -14px;
}
.header-main-right{
    display: flex;
    gap: 10px;
}
.siderbar-menu {
    background-color: lightgreen;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
}
.menu-title{
    margin: 0 22px 0 8px;
    font-weight: bold;
}
.sidebar-menu-wrapper .list-group{
    border-radius: 0;
    border: none;
}
.sidebar-menu-wrapper .list-group .list-group-item{
    padding: 0.5rem 2rem;
}
.sidebar-menu-wrapper .list-group .list-group-item:not(:last-child){
    border-radius: 0;
    border-bottom: none;
}
.contact-wrapper {
    display: flex;
    gap: 16px;
}
.contact-icon {
    background-color: rgb(239 239 175 / 50%);
    color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon span {
    font-size: 14px;
}
.contact-info {
    line-height: 1;
}
.header-search{
    display: flex;
    gap: 50px;
}
.banner-wrapper{
    background: url('img/hero/banner.jpg');
    margin-top: 32px;
}
.banner-text{
    padding: 100px;
}
.shop-btn button {
    border: 0;
    padding: 10px 26px;
    background: lightgreen;
    color: white;
    border-radius: 5px;
}

/* ------------- slick (slider) ------------- */
.slider {
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
/* ---------- */
.slider-item{
    position: relative;
}

.image-level {
    background-color: white;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
}
.image-title {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
/* ------------------------------------------ */

.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    position: relative;
}
.section-title h2::after {
    position: absolute;
    content: "";
    bottom: -15px;
    right: 0px;
    left: 0px;
    height: 4px;
    background: red;
    width: 80px;
    margin: 0 auto;
}

.product-item {
    margin-bottom: 30px;
    /* padding: 0 15px; */
}
.product-image {
    display: block;
}
.product-image img {
    width: 100%;
    height: 300px;
}
.product-content {
    text-align: center;
    padding: 15px;
}
span.product-title {
    display: inline-block;
    margin-bottom: 10px;
}

.nav-link.active {
    color: black;
}


.banner-bottom-image{
    display: block;
}
.banner-bottom-image img{
    width: 100%;
}

.bottom-slider{
    margin: 100px 0;
}
.slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.custom-owl-nav {
    display: flex;
    gap: 10px;
}
.owl-prev {
    border: 1px solid black;
    padding: 7px 14px;
    border-radius: 5px;
    background: #ddd;
    font-size: 20px;
    font-weight: bold;
}
.owl-next {
    border: 1px solid black;
    padding: 7px 14px;
    border-radius: 5px;
    background: #ddd;
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px;
}
.product-vertical-item{
    display: flex;
    margin-bottom: 16px;
}
.product-vertical-image{
    display: block;
    width: 25%;
    margin-right: 1rem;
}
.product-vertical-image img{
    width: 100%;
    height: auto;
}
.product-vertical-content{
    padding: 10px;
}
.product-vertical-title{
    display: block;
    margin-bottom: 10px;
}

.blog-item {
    padding: 0.25rem;
}
.blog-image {
    display: block;
}
.blog-image img{
    width: 100%;
}
.blog-content {
    padding: 32px 0;
}
.blog-date-comment {
    padding-bottom: 16px;
    color: lightgray;
}
.blog-date-comment span{
    margin-right: 16px;
}
.blog-title {
    padding-bottom: 6px;
    font-weight: bold;
}

section.footer {
    background: #F3F6FA;
    padding: 100px 0;
}
.footer-logo {
    margin-bottom: 16px;
}
.footer-info {
    line-height: 1;
}
.footer-middle h6{
    font-weight: bold;
    margin-bottom: 12px;
}
.footer-links {
    display: flex;
    gap: 25%;
}
.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* .footer-links ul li{} */
.footer-links ul li a{
    text-decoration: none;
    color: black;
    line-height: 2;
}
.footer-right h6{
    margin-bottom: 1rem;
}
.footer-right p{
    margin-bottom: 32px;
}
.subscriber-form{
    margin-bottom: 2rem;
}
.subscriber-form input{
    padding: 10px 16px;
    width: 68%;
    border: none;
    color: black;
}
.subscriber-form button{
    padding: 10px;
    width: 30%;
    border: none;
    background: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-social ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
li.social-item {
    background: white;
    padding: 10px 12px;
    margin-right: 1rem;
    border-radius: 50%;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

/* ============ Shop Page ============ */
/* ------ BREADCRUMB ------ */
.breadcrumb.breadcrumb {
    margin-top: 32px;
    background: url('../img/breadcrumb.jpg');
}
.breadcrumb-wrapper {
    padding: 2.5rem;
    text-align: center;
    color: white;
}
h1.breadcrumb-title {
    font-weight: bold;
}
h6.breadcrumb-link{
    font-weight: bold;
}
h6.breadcrumb-link span{
    font-weight: 300;
}
/* ------------------------ */

/* ------ DEPARTMENT ------- */
section.shop {
    margin: 60px 0;
}
h3.department-title {
    margin-bottom: 2rem;
    font-weight: bold;
}
ul.department-lists {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.department-lists li {
    padding: 8px 0;
}
/* ------------------------ */

/* ------ PRICE ------- */
.price-range-wrapper{
    margin-top: 50px;
}
.price-title{
    font-weight: bold;
}
/* .price-range{} */
.price-amount{
    color: red;
    font-weight: bold;
}
/* ------------------------ */

/* ------ COLORS ------- */
.colors-wrapper{
    margin-top: 60px;
}
.colors-title{
    font-weight: bold;
}
.colors{
    display: flex;
    gap: 50px;
}
/* .colors-item{} */
/* ------------------------ */

/* ----------  ---------- */
/* .product-item { */
.product-image {
    display: block;
    position: relative;
    overflow: hidden;
}
ul.product-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    transition: bottom 0.3s ease-in-out;
}
li.option-item a{
    color: black;
    background: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    box-shadow: 0px 0px 2px gray;
    transition: color 0.6s, background 0.6s ease-in-out;
    /* transition: width 2s, height 4s, background-color 3s; */
}
.product-image:hover ul.product-options{
    bottom: 30px;
}
li.option-item a:hover{
    color: white;
    background: red;
}
li.option-item a i {
    display: inline-block; /* বা block */
    transition: transform 0.5s ease;
}
li.option-item a:hover i {
    transform: rotate(360deg);
}
/* ------------------------ */

/* -----------  ---------- */
.filter-sort{
    display: flex;
    gap: 20px;
}
/* .filter-sort select:focus,
.filter-sort select:focus-visible {
    outline: none;
    box-shadow: none;
    border: none;
} */
.filter-found{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.filter-found {
    display: flex;
    justify-content: end;
    gap: 10px;
}
/* ------------------------ */
/* =================================== */

/* =============== Shopping Cart ============== */
#shopping-cart-table thead tr th, 
#shopping-cart-table tbody tr td{
    padding: 1.5rem 0;
    font-size: 1.25rem;
    vertical-align: middle;
}
#shopping-cart-table thead tr th:not(:first-child), 
#shopping-cart-table tbody tr td:not(:first-child){
    text-align: center;
}
.shopping-cart-image{
    width: 100px;
    margin-right: 1rem;
}
.cart-quantity {
    text-align: center;
}
.pro-quantity {
    display: inline-flex;
    align-items: center;
    height: 40px;
    background-color: lightgray;
}
.pro-quantity span {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-quantity input {
    width: 50px;
    border: none;
    outline: none;
    background: lightgray;
    color: black;
    text-align: center;
    font-size: 16px;
}
/* -------------- */
/* -------  ------- */
.cart-buttons{
    display: flex;
    justify-content: space-between;
}
a.cart-button {
    text-decoration: none;
    color: gray;
    background: #f5f5f5;
    font-size: 14px;
    padding: 12px 32px;
    text-transform: uppercase;
    font-weight: bold;
}
/* -------------- */
/* ------  ------- */
.coupon-form input{
    padding: .75rem 3rem;
    margin-right: 1rem;
    color: black;
    border: 1px solid gray;
}
.coupon-form a {
    text-decoration: none;
    color: white;
    background: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 1rem 2rem;
}
/* -------------- */
/* -------  ------- */
.checkout{
    padding: 2rem;
    background-color: #f5f5f5;
}
.checkout-title{
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.checkout-text{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: .75rem;
}
.checkout-btn{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 3rem;
    background-color: red;
    border: none;
    color: white;
}
/* -------------- */
/* =================================== */

/* =============== CHECKOUT ================ */

/* =================================== */