@media (max-width: 575px){
    .col-1{width: var(--width-1);}
    .col-2{width: var(--width-2);}
    .col-3{width: var(--width-3);}
    .col-4{width: var(--width-4);}
    .col-5{width: var(--width-5);}
    .col-6{width: var(--width-6);}
    .col-7{width: var(--width-7);}
    .col-8{width: var(--width-8);}
    .col-9{width: var(--width-9);}
    .col-10{width: var(--width-10);}
    .col-11{width: var(--width-11);}
    .col-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 100%;
    }

    /* *{
        overflow-x: hidden;
    } */

    /* ---------- BANER ----------- */
    .banner-menu {
        gap: 0px;
    }
    .banner-menu-item {
        padding: 35px 8px;
        font-size: 18px;
    }

    .banner-text-title {
        font-size: 35px;
    }
    .banner-text-name {
        font-size: 35px;
    }
    .banner-text-subtitle {
        font-size: 14px;
    }

    /* ---------- FEATURE ----------- */
    .fearture-menu-wrapper {
        gap: 0;
    }
    .fearture-menu-item {
        font-size: 16px;
        padding: 0px 0px 30px 12px;
    }

    /* ---------- ABOUT ----------- */
    .about-image-wrapper {
        padding: 0px;
    }
    .about-content-wrapper {
        padding: 60px 0 0 0px;
    }

    /* ---------- TESTIMONIAL ----------- */
    .testimonial-content-wrapper {
        padding: 0 0;
    }

    /* ---------- SERVICE ----------- */
    .service-wrapper {
        padding: 20px 0;
    }
    
    /* ---------- BLOG ----------- */
    .blog-item {
        margin-bottom: 30px;
    }

    /* ---------- CONTACT ----------- */
    .contact-content-wrapper-two {
        padding-left: 0;
        margin-top: 50px;
    }
}
@media (min-width: 576px){
    .col-sm-1{width: var(--width-1);}
    .col-sm-2{width: var(--width-2);}
    .col-sm-3{width: var(--width-3);}
    .col-sm-4{width: var(--width-4);}
    .col-sm-5{width: var(--width-5);}
    .col-sm-6{width: var(--width-6);}
    .col-sm-7{width: var(--width-7);}
    .col-sm-8{width: var(--width-8);}
    .col-sm-9{width: var(--width-9);}
    .col-sm-10{width: var(--width-10);}
    .col-sm-11{width: var(--width-11);}
    .col-sm-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 90%;
    }   
}
@media (min-width: 768px){
    .col-md-1{width: var(--width-1);}
    .col-md-2{width: var(--width-2);}
    .col-md-3{width: var(--width-3);}
    .col-md-4{width: var(--width-4);}
    .col-md-5{width: var(--width-5);}
    .col-md-6{width: var(--width-6);}
    .col-md-7{width: var(--width-7);}
    .col-md-8{width: var(--width-8);}
    .col-md-9{width: var(--width-9);}
    .col-md-10{width: var(--width-10);}
    .col-md-11{width: var(--width-11);}
    .col-md-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 90%;
    }
}
@media (min-width: 992px){
    .col-lg-1{width: var(--width-1);}
    .col-lg-2{width: var(--width-2);}
    .col-lg-3{width: var(--width-3);}
    .col-lg-4{width: var(--width-4);}
    .col-lg-5{width: var(--width-5);}
    .col-lg-6{width: var(--width-6);}
    .col-lg-7{width: var(--width-7);}
    .col-lg-8{width: var(--width-8);}
    .col-lg-9{width: var(--width-9);}
    .col-lg-10{width: var(--width-10);}
    .col-lg-11{width: var(--width-11);}
    .col-lg-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 90%;
    }
}
@media (min-width: 1200px){
    .col-xl-1{width: var(--width-1);}
    .col-xl-2{width: var(--width-2);}
    .col-xl-3{width: var(--width-3);}
    .col-xl-4{width: var(--width-4);}
    .col-xl-5{width: var(--width-5);}
    .col-xl-6{width: var(--width-6);}
    .col-xl-7{width: var(--width-7);}
    .col-xl-8{width: var(--width-8);}
    .col-xl-9{width: var(--width-9);}
    .col-xl-10{width: var(--width-10);}
    .col-xl-11{width: var(--width-11);}
    .col-xl-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 90%;
    }
}
@media (min-width: 1400px){
    .col-xxl-1{width: var(--width-1);}
    .col-xxl-2{width: var(--width-2);}
    .col-xxl-3{width: var(--width-3);}
    .col-xxl-4{width: var(--width-4);}
    .col-xxl-5{width: var(--width-5);}
    .col-xxl-6{width: var(--width-6);}
    .col-xxl-7{width: var(--width-7);}
    .col-xxl-8{width: var(--width-8);}
    .col-xxl-9{width: var(--width-9);}
    .col-xxl-10{width: var(--width-10);}
    .col-xxl-11{width: var(--width-11);}
    .col-xxl-12{width: var(--width-12);}

    [class*='col-']{
        padding-right: 5px;       
        padding-left: 5px;        
    }

    .container{
        width: 90%;
    }
}